{:deps {org.clojure/clojure {:mvn/version "1.11.4"}
        org.duct-framework/logger {:mvn/version "0.4.0"}
        dev.weavejester/ragtime {:mvn/version "0.10.1"}
        integrant/integrant {:mvn/version "0.13.1"}
        pandect/pandect {:mvn/version "1.0.2"}}}
