{:duct.migrator/ragtime
 {:doc
  "When initiated, runs migrations on a SQL database using the [Ragtime][1]
  migration library.

  Takes the following options:
  - `:database` - a `javax.sql.DataSource` instance
  - `:logger` - a logger that satisfies `duct.logger/Logger`
  - `:strategy` - a Ragtime strategy: :apply-new, :raise-error or :rebase
  - `:migrations` - a vector of [Ragtime SQL migrations][2]
  - `:migrations-table` - the table to store applied migrations in (defaults
                          to `ragtime_migrations`)

  [1]: https://github.com/weavejester/ragtime
  [2]: https://github.com/weavejester/ragtime/wiki/SQL-Migrations"}}
