{:duct.migrator/ragtime
 {:doc
  "When initiated, runs migrations on a SQL database using the [Ragtime][1]
  migration library.

  Takes the following options:
  - `:database` - a `javax.sql.DataSource` instance
  - `:logger` - a logger that satisfies `duct.logger/Logger`
  - `:strategy` - a Ragtime strategy: :apply-new, :raise-error or :rebase
  - `:migrations-file` - an edn file containing a vector of migrations
  - `:migrations-table` - the table to store applied migrations in (defaults
                          to `ragtime_migrations`)

  The migrations file should contain a edn vector of Ragtime SQL migrations.
  See the [Ragtime documentation][2] for more information.

  [1]: https://github.com/weavejester/ragtime
  [2]: https://github.com/weavejester/ragtime/wiki/SQL-Migrations"}}
